@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');

.footer-container{
    display: flex;
}

.footer-section {
    width: 100%;
    height: 119px;
    display: flex;
    background-color: lightgrey;
    // position: relative;
}

.footer-logo {
    height: 66px;
    width: 66px;
    margin-top: 28px;
    margin-left: 40px;
}

.footer-logo:hover {
    cursor: pointer;
}

.footer-section > p {
    margin-top: 27px;
    font-size: 70px;
    margin-left: 7px;
    font-family: 'Saira Condensed', sans-serif;
    // display: flex;
    // text-decoration: none;

}

.links {
    font-family: 'Anton', 'sans-serif';
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    width: 831px;
}

.links > a {
    font-size: 30px;
    padding-right: 30px;
    padding-bottom: 30px;
    color: #E6692A;
}

