.footer-section {
    width: 100%;
    height: 63px;
    display: flex;
    background-color: lightgrey;
}

.footer-logo {
    height: 66px;
    width: 66px;
    margin-top: 28px;
    margin-left: 40px;
}

.footer-section > p {
    margin-top: 27px;
    font-size: 70px;
    margin-left: 7px;
    font-family: 'Saira Condensed', sans-serif;
    // display: flex;
    // text-decoration: none;

}
