.homepage {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    // background-color: yellowgreen;
}

.homepage-section {
    height: 500px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'Saira Condensed', sans-serif;
    font-size: 50px;
    font-weight: bolder;
    text-align: center;
}



.search-container {
    display: flex;
    position: absolute;
    top: 33%;
    // background-color: gray;
    width: 400px;
    height: 50px;
    border-radius: 10px;

}

.search-text {
    display: flex;
    width: 80%;
    height: 100%;
    border-radius: 3px;
   
}
.search-button {
    display: flex;
    width: 20%;
    height: 100;
    background-color: #E6692A;
    align-items: center;
    justify-content: center;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
}

.search-button > img {
    height: 88%;
}

.homepage-section > img {
    height: 100%;
    width: 100%;
    background-position: top center;
    background-repeat: no-repeat;
    object-fit: cover;
}

.search-bar-text {
    height: 88%;
    width: 314px;
    display: flex;
     border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
}

.home-signup-button {
    height: 50px;
    width: 180px;
    background-color: #E6692A;
    border-radius: 5px;
    justify-content: center;
    text-align: center;
    margin: 0px 7px;
    text-decoration: none;
    color: whitesmoke;
    font-family: 'Saira Condensed', sans-serif;
    font-size: 33px;
}

.homepage-section > p:nth-child(2) {
    font-size: 33px;
}