.homepage {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    // background-color: yellowgreen;
}

.homepage-section {
    height: 500px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'Saira Condensed', sans-serif;
    font-size: 50px;
    font-weight: bolder;
    text-align: center;
    position: relative;
}



.search-container {
    display: flex;
    position: absolute;
    top: 45%;
    transform: translateY(-50%);
    // // background-color: gray;
    // width: 600px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
} 

.search-bar {
    width: 400px;
    height: 50px;
    border-radius: 10px;
    display: flex;
    position: relative;
    bottom: -19px;
    // margin-top: 10px;
}

.search-text {
    display: flex;
    width: 80%;
    height: 100%;
    border-radius: 3px;   

}
.search-button {
    display: flex;
    width: 20%;
    height: 100;
    background-color: #E6692A;
    align-items: center;
    justify-content: center;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
}

.search-button > img {
    height: 88%;
}

.homepage-section > img {
    height: 100%;
    width: 100%;
    background-position: top center;
    background-repeat: no-repeat;
    object-fit: cover;
}

.search-bar-text {
    height: 99%;
    width: 320px;
    display: flex;
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
    background-color: gray;
    font-size: 20px;
    text-align: left;
    font-family: 'Saira Condensed', sans-serif;
    padding-left: 10px;
}

.home-signup-button {
    height: 50px;
    width: 180px;
    background-color: #E6692A;
    border-radius: 5px;
    justify-content: center;
    text-align: center;
    margin: 0px 7px;
    text-decoration: none;
    color: whitesmoke;
    font-family: 'Saira Condensed', sans-serif;
    font-size: 33px;
}

.homepage-section > p:nth-child(2) {
    font-size: 33px;
}

.section-1-text {
    // margin-top:  100px;
    // color: #D64033;
    font-family: 'Saira Condensed', sans-serif;
    color: whitesmoke;
    font-size: 100px;
    position: relative;
    top: 0px;
    // width: 600px;
    animation: fade-in 2s ease-in;
}

.homepage-section-3 {
    position: absolute;
}

.homepage-section-3 > p {
    font-size: 100px;
    color: whitesmoke;
    // font-family: 'Saira Condensed', sans-serif;
}

.container-3{
    position: relative;
    bottom: -47px;
    font-size: 67px;
    // color: #E6692A;
}

.sub-container-3 {
    margin: 23px;
    opacity: 0;
    animation: slide-in-right 1s ease 2.5s forwards;
    display: flex;
    flex-direction: row;
    height: 283px;
    align-items: center;
    justify-content: center;
    width: 100%;
}   

.sub-container-3 > a {
    // text-decoration: none;
    color: #E6692A;
    font-size: 83px;
    transition: all 1s;
    margin-left: 20px;
//     &:hover {
//         text-shadow: 50px 50px whitesmoke;
//         margin-top: -25px;
//         margin-left: -25px;
//         // transform: translate(-25px, -25px);
//     }    
}


.sub-container-2 {
    opacity: 0;
    animation: slide-in-left 1s ease 1.5s forwards;
    height: 67px;
    margin-top: 50px;
}



@keyframes fade-in {
    from {
        opacity: 0;

    }

    to {
        opacity: 1;
    }
}

@keyframes slide-in-left {
    0% {
        opacity: 0;
        transform: translateX(-100vw);
    }
    // 90%, 93%{
    //     transform: translateX(0);
    // }
    90% {
        transform: translateX(100px);
    }
    100% {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes slide-in-right {
    0%{
        opacity: 0;
        transform: translateX(100vw);
    }
    // 90%, 93%{
    //     transform: translateX(0);
    // }
    90% {
        transform: translateX(-100px);       
    }
    100% {
        opacity: 1;
        transform: translateX(0);
    }
}