.session-form-container {
    display: flex;
    // position: absolute;
    width: 100%;
    height: 83vh;
    justify-content: center;
    align-items: center;
}

.login-form-card {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 500px;
    height: 419px;  
    background-color: lightgray;
    border-radius: 10px;
    position: absolute;
    text-align: center;
    // box-shadow: 10px 10px 10px 10px grey;
    // margin-top: 65px; 
}

.text-field > input {
    width: 400px;
    height: 50px;
    border-radius: 6px;
    border: none;
    font-size: 25px;
    background-color: whitesmoke;
}

.login-button {
    height: 40px;
    width: 86%;
    background-color: #E6692A;
    border-radius: 5px;
    justify-content: center;
    text-align: center;
    // margin: 0px 7px;
    text-decoration: none;
    color: whitesmoke;
    font-family: 'Saira Condensed', sans-serif;
    font-size: 23px;
}

.session-form-container > img {
    height: 100%;
    width: 100%;
    background-position: top center;
    background-repeat: no-repeat;
    object-fit: cover;
}

.other-form {
    font-family: 'Saira Condensed', sans-serif;
    font-size: 20px;
}

.login-form-title {
    font-family: 'Saira Condensed', sans-serif;
    font-size: 38px;
    font-weight: bolder;
    position: relative;
    top: -33px;
}

.other-form > a {
    text-decoration: none;
    color: #E6692A;
}

.login-lower-text {
    position: relative;
    bottom: -38px;
}

.other-form > a:hover {
    cursor: pointer;
}

.input-text {
    font-family: 'Saira Condensed', sans-serif;
    text-align: left;
    padding-left: 5px;
}
.text-field:hover {
    border: 2px #E6692A;
}

.input-text:hover {
    border: 2px #E6692A ;
}


