
// @import "../images/waypoint.png";

.map-container {
    height: 380px;
    width: 381px;
    margin-top: 10px;
    border-radius: 10px;
    margin-right: 8px;
    margin-left: 8px;
}

.park-map {
    height: 295px;
    width: 800px;
    border-radius: 10px;
}

.marker {
    content: url(waypoint);

    color: #E6692A;
    background-size: cover;
    width: 50px;
    cursor: pointer;
}
  